:root {
    --bg-color: hsla(218, 100%, 97%, 1);
    --form-bg-color: hsla(0, 0%, 100%, 1);
    --footer-bg-color: hsla(0, 0%, 100%, 1);
    --card-bg-color: hsla(231, 23%, 87%, 1);
    --card-border-color: hsla(229, 24%, 87%, 1);
    --primary-color: hsla(213, 96%, 18%, 1);
    --secondary-color: hsla(231, 11%, 63%, 1);
    --accent-color: hsla(243, 100%, 62%, 1);
    --progress-primary-color: hsla(0, 0%, 100%, 1);
    --progress-secondary-color: hsla(228, 100%, 83%, 1);
    --progress-accent-color: hsla(206, 94%, 87%, 1);
    --error-color: hsla(354, 84%, 57%, 1);
    --font-primary: 'Ubuntu', sans-serif;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .form {
    width: 900px;
    background-color: var(--progress-primary-color);
    border-radius: 1rem;
    box-shadow: 0px 0px 1px black;
  }
  .form-container {
    display: flex;
    padding: 1rem;
  }
  .form-sidebar {
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    width: 400px;
    height: 568px;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .circle {
    width: 40px;
    height: 40px;
    border: 2px solid var(--progress-primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--progress-primary-color);
    font-weight: 700;
  }
  .active .circle {
    background-color: var(--Light-blue) !important;
    color: var(--primary-color) !important;
  }
  .err {
    border: 2px solid var(--error-color) !important;
  }
  .step {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }
  .step-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .step-content span {
    text-transform: uppercase;
    color: var(--card-border-color);
    font-size: 13px;
  }
  .step-content b {
    text-transform: uppercase;
    color: var(--White);
  }
  .stp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stp .header {
    margin-bottom: auto;
    padding-top: 2rem;
    line-height: 2.5rem;
  }
  .header .title {
    color: var(--primary-color);
  }
  .header .exp {
    color: var(--secondary-color);
  }
  .next-stp {
    margin-top: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    border: none;
    padding: 1rem 2rem;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  .switcher {
    margin: 2rem 0;
  }
  .switcher {
    background-color: var(--Magnolia);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 5rem;
    justify-content: center;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  @media screen and (max-width: 765px) {
    body {
      position: relative;
    }
    .form-sidebar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-image: url("./assets/images/bg-sidebar-mobile.svg");
      flex-direction: row;
      height: 300px;
      background-size: cover;
      width: 100%;
      align-items: flex-start;
      justify-content: center;
      z-index: -1;
    }
    .step-content {
      display: none;
    }
    .form {
      position: absolute;
      top: 15%;
      max-width: 375px;
      background-color: white;
    }
    .form-container {
      padding: 2rem;
    }
   
    .step-2 form {
      flex-direction: column;
      gap: 0.5rem;
    }
    .plan-card {
      width: 100%;
      height: 100px;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
      align-items: center;
    }
    .stp {
      gap: 1rem;
      width: 100%;
    }
    .stp .header {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      line-height: 1.5rem;
    }
   
  }