:root {
    --bg-color: hsla(218, 100%, 97%, 1);
    --form-bg-color: hsla(0, 0%, 100%, 1);
    --footer-bg-color: hsla(0, 0%, 100%, 1);
    --card-bg-color: hsla(231, 23%, 87%, 1);
    --card-border-color: hsla(229, 24%, 87%, 1);
    --primary-color: hsla(213, 96%, 18%, 1);
    --secondary-color: hsla(231, 11%, 63%, 1);
    --accent-color: hsla(243, 100%, 63%, 1);
    --selected-card-color:hsla(230,100%,99%,1);
    --sidebar-primary-color: hsla(0, 0%, 100%, 1);
    --sidebar-secondary-color: hsla(228, 100%, 83%, 1);
    --sidebar-accent-color: hsla(206, 94%, 87%, 1);
    --error-color: hsla(354, 84%, 57%, 1);
    --font-primary: 'Ubuntu', sans-serif;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .form { 
    background-color: var(--progress-primary-color);
    border-radius: 1rem;
    box-shadow: 0px 0px 1px black;
    margin: auto;
    padding: auto;
  }
  .circle {
    width: 40px;
    height: 40px;
    border: 2px solid var(--progress-primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--progress-primary-color);
    font-weight: 700;
  }
  .active .circle {
    background-color: var(--sidebar-accent-color) !important;
    color: var(--primary-color) !important;
  }
  .err {
    border: 2px solid var(--error-color) !important;
  }
  .btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.6rem;
  }
  .next-stp {
    margin-top: auto;

    margin-left: auto;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--sidebar-primary-color);
    cursor: pointer;
  }
  .next-stp:focus{
    background-color: hsla(213,72%,31%,1)
  }
  .prev-stp{
    margin-top:0;
    margin-left:0;
    border: none;
    color: hsla(231,10%,63%,1);
    background: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.13rem;
  }
  .prev-stp:focus{
    color: var(--primary-color);
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sidebar-primary-color);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .stp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .stp .header {
    margin-bottom: 2.1rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    line-height: 1.5rem;
    
  }
  .header .title {
    font-family: Ubuntu;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.3rem;
    letter-spacing: 0rem;
    color: var(--primary-color);
  }
  .header .exp {
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.2rem;
  }
  @media screen and (max-width: 767px) {
    body {
      position: relative;
    }
   
    .step-content {
      display: none;
    }
    .form {
      position: absolute;
      top: 15%;
      background-color: var(--sidebar-primary-color);
    }
    .stp {
      gap: 1rem;
      width: 100%;
    }
    .stp .header {
      padding-top: 0;
      flex-direction: column;
    
    }
   
  }